{% extends 'base/layout.html' %}

{% block head %}

{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center h-screen">
    <div class="flex flex-col gap-2 justify-center text-xl font-semibold">
        <div class="flex gap-6 justify-center text-xl font-semibold">
            <span id="login-tab" class="cursor-pointer text-sky-500">Вход</span>
            <a href="/auth/register">
                <span id="register-tab" class="cursor-pointer">Регистрация</span>
            </a>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="space-y-2">
            {% for category, message in messages %}
            <div
                class="bg-{{ 'green' if category == 'success' else 'red' }}-200 text-{{ 'green' if category == 'success' else 'red' }}-800 p-2 rounded">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <form id="register-form" class='flex flex-col items-center mt-2' action="/auth/login"
            enctype="application/x-www-form-urlencoded" method='POST'>
            <div class="flex flex-col justify-center gap-2 w-[320px]">
                <div>
                    <label for="login-email" class="block text-sm font-medium text-gray-900">Email</label>
                    <input name="login_email" type="text" id="login-email"
                        class="bg-indigo-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none block w-full p-2.5"
                        placeholder="your@mail.ru" required />
                </div>
                <div>
                    <label for="login-password" class="block text-sm font-medium text-gray-900">Password</label>
                    <input name="login_password" type="password" id="login-password"
                        class="bg-indigo-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none block w-full p-2.5"
                        placeholder="Введите пароль" required />
                </div>
                <button class="border rounded w-full bg-sky-500 h-10 text-white mt-4" type="submit">Войти</button>
                <span class="text-center text-sm mt-2">Забыли пароль?</span>
            </div>
        </form>
        <div class="flex justify-center mt-2">
            <button
                class="w-[320px] flex justify-center items-center gap-2 border rounded border-sky-500 text-black h-10">
                <img src="{{ url_for('static', filename='images/flat-color-icons_google.png') }}" alt="google">
                Продолжить с Google
            </button>
        </div>
    </div>
</div>
{% endblock %}